@charset "utf-8";

/*
   HTML - Hands-on-Exercise 4
   
   Star Dust Stories Design Styles
   
   Filename: sdEffects.css

   Name: Veena Gogireddy

   Date: 02/09/2019

*/

/* HTML Styles */
html 
{
    background-image: url('sdBack1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Body Styles */

body {
    background: url('sdBack2.png'), radial-gradient(circle closest-corner at 40% 70%, white 15%, rgba(151, 151, 151, 0.5) 50%), radial-gradient(circle closest-corner at 80% 40%, white 15%, rgba(0, 0, 0, 0) 30%), radial-gradient(circle closest-side at 10% 20%, white 20%, rgba(0, 0, 0, 0) 45%);
    background-color: rgb(151,151,151);
    box-shadow: rgb(31,31,31) 30px 0px 45px, rgb(31,31,31) -30px 0px 45px;
}


/* Navigation List Styles */

body > header a 
{
    border-width: 5px;
    border-style: outset;
    border-color: rgb(211,211,255);   
}


/* Section Left Styles */

section#left article h1
{
    color: rgb(211,211,211);
    text-shadow: black 0 0 5px;
}

img#mportrait {
   filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9))  grayscale(0.7) opacity(0.6);
   transform: rotateY(180deg);
}

/* Footer Styles */

footer 
{
    border-top: 2px solid rgb(171,171,171);
}
